 <div class="card">
        <img class="card-img-top" src="{{this.travelBoardPictureUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.country}}</h5>
          <q class="card-text">{{this.experienceInput}}</q>
          <p>- {{this.user.firstName}} {{this.user.lastName}}</p>
          <div class="travelboard-button-container">
            <a href="/board-details/{{this._id}}" class="see-more-btn" type="button">See more</a>
          </div>
        </div>
      </div>