<div class="card">
  <img class="card-img-top" src="{{this.travelBoardPictureUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.country}}</h5>
    <p class="card-text">{{this.experienceInput}}</p>
    <div class="travelboard-button-container">
      <div class="see-more-btn-container">
        <a href="/board-details/{{this._id}}" class="see-more-btn" type="button">See more</a>
        <div class="edit-delete-btn-container">
          <a href="/edit-travel-board/{{this._id}}" type="button"
            class="btn btn-dark travelboard-btn edit-btn btn-sm"><i class="fas fa-pen travelboard-icon"></i></a>
          <form action="/board-delete/{{this._id}}" method="post">
            <button class="btn btn-danger travelboard-btn btn-sm" type="submit"><i
                class="fas fa-trash-alt travelboard-icon"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>