<div class="container top-container">
  {{#if userInSession}}
<form action="/edit-profile/{{userInSession._id}}" method="post" enctype="multipart/form-data">

<div class="formInput">
<label for="firstNameInput">First name:</label>
<input type="text" id="firstNameInput" name="firstName" value="{{userInSession.firstName}}">
</div>

<div class="formInput">
<label for="lastNameInput">Last name:</label>
<input type="text" id="lastNameInput" name="lastName" value="{{userInSession.lastName}}">
</div>

<div class="formInput">
<label for="aboutInput">About:</label>
<input type="text" id="aboutInput" name="about" value="{{userInSession.about}}">
</div>

<div class="formInput">
<label for="favoriteDestinationInput">Favorite destination:</label>
<input type="text" id="favoriteDestinationInput" name="favoriteDestination" value="{{userInSession.favoriteDestination}}">
</div>

<div class="formInput">
<label for="profilePictureUrlInput">Upload a profile picture:</label>
<input type="file" name="profilePictureUrl" id="profilePictureUrlInput" value="{{userInSession.profilePictureUrl}}"/>
<input type="text" name="existingProfilePic" hidden id="profilePictureUrlInput" value="{{userInSession.profilePictureUrl}}">
</div>

<button type="submit">Save changes</button>

</form>
  {{else}}
   <button type="button" class="btn btn-dark">
        <a href="/login">
        Login</a></button>
      <button type="button" class="btn btn-dark">
        <a href="/signup">Sign-up</a>
        </button>
  {{/if}}
</div>