{{#if foundUser}}
<section id="profile">
  <header>
    <div class="container header-container">
      <div class="row">
        <div class="col-3">
          {{#if foundUser.profilePictureUrl}}
          <div class="profile-img-container" style="background-image: url({{foundUser.profilePictureUrl}})"></div>
          {{else}}
         <div class="profile-img-container" style="background-image: url(/images/default-avatar.png)"></div>
         {{/if}}
        </div>
        <div class="col-8">
          <h3>{{foundUser.firstName}} {{foundUser.lastName}}</h3>
          <div class="text-container">
            <h5>About</h5>
            <p class="about-text">
              {{foundUser.about}}</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
<hr>
<section id=" travel-boards">
  <div class="container boards-header">
    <div class="row">
      <div class="col-sm boards-heading">
        <h1>{{foundUser.firstName}}'s Travel Boards</h1>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    {{#if foundUser.travelBoards}}
    <div class="travel-boards-container">
      {{#each foundUser.travelBoards}}
      {{> otheruserboardpartial this}}
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{else}}
  <button type="button" class="btn btn-dark">
    <a href="/login">
      Login</a></button>
  <button type="button" class="btn btn-dark">
    <a href="/signup">Sign-up</a>
  </button>
  {{/if}}
</section>