{{#if userInSession}}
<section id="profile">
  <div class="container top-container">
    <div class="row profile-info-container">
      <div class="col-3">
        <div class="profile-img-container">
          {{#if userInSession.profilePictureUrl }}
          <img src="{{userInSession.profilePictureUrl}}" class="profile-img" alt="profile-img">
          {{else}}
          <img src="/images/default-avatar.png" class="profile-img" alt="profile-img">
          {{/if}}
        </div>
      </div>

      <div class="col-8">
        <div class="about-container">
          <h3>{{userInSession.firstName}} {{userInSession.lastName}}</h3>
          <a href="/edit-profile/{{userInSession._id}}">Edit Profile</a>
          <div class="text-container">
            <h5>About</h5>
            <p>
              {{userInSession.about}}</p>
          </div>
        </div>
      </div>
</section>
<hr>
<section id=" travel-boards">
  <div class="container boards-header">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm boards-heading">
        <h1>My Travel Boards</h1>
      </div>
      <div class="col-sm add-btn-container">
        <a href="/add-travel-board/{{userInSession._id}}" type="button" class="btn btn-dark add-btn">Add</a>
      </div>
    </div>
  </div>
  <div class="container">
    {{#if userInSession.travelBoards}}
    <div class="travel-boards-container">
      {{#each userInSession.travelBoards}}
      {{> travelboardpartial this}}
      {{/each}}
    </div>
    {{else}}
    <div class="container empty-travelboard-container">
      <div>
        <h3>Oooops!</h3>
        <p>It seems that you haven't added a Travel Board yet.<br>Click the add button to share one of your
          adventures.
        </p>
      </div>
    </div>
    {{/if}}
  </div>
  {{else}}
  <button type="button" class="btn btn-dark">
    <a href="/login">
      Login</a></button>
  <button type="button" class="btn btn-dark">
    <a href="/signup">Sign-up</a>
  </button>
  {{/if}}
</section>