<div class="one-city">
  <div class="city-heading" style="background-image: url({{oneCity.cityPictureUrl}})">
    <div class="heading-text">
      <h1>{{oneCity.city}}</h1>
      <p>in</p>
      <h2>{{oneCity.country.country}}</h2>
      </div>
      </div>
       {{#if user}}
               <div class="edit-delete-btn-container">
                  <a title="Edit city" href="/edit-city/{{oneCity._id}}" type="button"
                    class="btn btn-dark travelboard-btn edit-btn btn-sm"><i class="fas fa-pen travelboard-icon"></i></a>
                  <form action="/city-delete/{{oneCity._id}}" method="post">
                  <button title="Delete city" class="btn btn-danger travelboard-btn btn-sm" type="submit"><i
                    class="fas fa-trash-alt travelboard-icon"></i></button>
                  </form>
            </div>
  {{/if}}
  {{#if oneCity.startDate}}
  {{#if oneCity.endDate}}
<p class="visit-date">Visited from {{oneCity.startDate}} to {{oneCity.endDate}}</p>
 {{/if}}
{{/if}}
<q class="city-experience">{{oneCity.experience}}</q>
<p> - {{oneCity.user.firstName}} {{oneCity.user.lastName}} </p>

<a href="/board-details/{{oneCity.country._id}}">Back</a>
</div>
