<div class="container top-container">
  <div class="board-details-wrapper">
    <img class="country-img" src="{{travelBoard.travelBoardPictureUrl}}" alt="{{travelBoard.country}}">
    <div class="board-info-container">
      <h1>{{travelBoard.country}}</h1>
      <p>{{travelBoard.experienceInput}}</p>
      <p>A board by {{travelBoard.user.firstName}} {{travelBoard.user.lastName}}</p>
    </div>
    <hr>
    {{#if user}}
    <a href="/add-city/{{travelBoard._id}}" type="button" class="btn btn-dark add-city-btn">Add new city</a>
    {{/if}}
    {{#if travelBoard.cities}}
    <div class="all-cities">
      {{#each travelBoard.cities}}
{{> citypartial this}}
      {{/each}}
    </div>
    {{else}}
    <div class="container empty-city-container">
      <div>
        <h3>Whoooaa!</h3>
        <p>So many adventures, yet so empty.<br>Make sure to add a new city to your adventure.
        </p>
      </div>
    </div>
    {{/if}}

  </div>
</div>