<div class="container top-container">
  <div class="board-details-wrapper">
    <h1>{{travelBoard.country}}</h1>
    <img src="{{travelBoard.travelBoardPictureUrl}}" alt="{{travelBoard.country}}">
{{#if user}}
    <a href="/add-city/{{travelBoard._id}}" type="button" class="btn btn-dark add-btn">Add a new city</a>
{{/if}}
      {{#if travelBoard.cities}}
        <div class="all-cities">
          {{#each travelBoard.cities}}
            <div class="card">
              <img class="card-img-top" src="{{this.cityPictureUrl}}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">{{this.city}}</h5>
              <p class="card-text">{{this.experience}}</p>
              <a href="/city-details/{{this._id}}" type="button">See more</a>
{{#if user}}
               <div class="edit-delete-btn-container">
                  <a href="/edit-city/{{this._id}}" type="button"
                    class="btn btn-dark travelboard-btn edit-btn btn-sm"><i class="fas fa-pen travelboard-icon"></i></a>
                  <form action="/city-delete/{{this._id}}" method="post">
                  <button class="btn btn-danger travelboard-btn btn-sm" type="submit"><i
                    class="fas fa-trash-alt travelboard-icon"></i></button>
                  </form>
            </div>
{{/if}}
  </div>
</div>
{{/each}}
</div>
{{/if}}
</div>
</div>