<div class="container top-container">
  <div class="board-details-wrapper">
    <h1>{{travelBoard.country}}</h1>
    <p>A board by {{travelBoard.user.firstName}} {{travelBoard.user.lastName}}</p>
    <img src="{{travelBoard.travelBoardPictureUrl}}" alt="{{travelBoard.country}}">
  {{#if user}}
    <a href="/add-city/{{travelBoard._id}}" type="button" class="btn btn-dark add-btn">Add a new city</a>
  {{/if}}

      {{#if travelBoard.cities}}
        <div class="all-cities">
          {{#each travelBoard.cities}}
           {{> travelboard this}}
          {{/each}}
        </div>
    {{/if}}
</div>
</div>